body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body p {
    color: dimgray;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: #FFC120;
}

section {
    margin-bottom: 100px;
}

.flex-container {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: repeating-conic-gradient(red 10%, #FF2B7F);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-area img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 110px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#full-web-dev {
    border-left: 7px solid tomato;
}

#baby-web-dev {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}