body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body p {
    color: dimgray;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: #FFC120;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: repeating-conic-gradient(red 10%, #FF2B7F);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-area img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 110px;
}